.vertical-slot-wrapper {
  outline: 1px solid var(--ad-border-color);
  margin-left: auto;
  margin-right: auto;
}
.vertical-slot-wrapper,
.vertical-slot-wrapper .adsbygoogle {
  display: block;
  width: 160px;
  height: 600px;
}

html {
  --hide-left-ad: 0;
}
html:not(.show-ads) {
  --hide-left-ad: 1;
}

#fv_left-side {
  --width: 180px;
  width: var(--width);

  --margin-left: calc(var(--hide-left-ad) * -1 * var(--width));
  margin-left: var(--margin-left);
  transition: margin-left 0.7s ease-in-out;
}

a.donate-remover-2 {
  text-decoration: none !important;
}
.donate-remover-2,
.donate-remover-2.glass-background,
.donate-remover-2.glass-background::after {
  border-radius: 8px;
}
.donate-remover-2 {
  cursor: pointer;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
}
.donate-remover-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.donate-remover-2 > span {
  display: inline-block;
  text-align: left;
}
#left-donate-icon,
#left-donate-text {
  vertical-align: middle;
  display: inline-block;
}
#left-donate-icon {
  background-image: url(./utils/icons/donate.svg);
  height: 22px;
  width: 22px;
}
#left-donate-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 700px) {
  .vertical-slot-wrapper .adsbygoogle {
    display: none !important;
  }
  html {
    --hide-left-ad: 1;
  }
}

.custom-banner .donate-remover-2 {
  margin-top: 30px !important;
}
.custom-banner #custom-banner {
  cursor: pointer;
}

/*
#ezoic-pub-ad-placeholder-101 {
  width: 160px;
  height: 600px;
  background-color: red;
}
*/
