.slot_btf {
  display: block;
  overflow: hidden;
  max-height: calc(100px + var(--border-size));
  max-width: 100%;
}

.slot_btf.ezoic-ad-slot {
  min-height: 50px;
  min-width: 234px;
}

.slot_btf.adsbygoogle {
  width: 100%;
  height: 100px;
  box-sizing: content-box;
}

.slot_btf {
  --border-size: 2px;
  border: var(--border-size) solid var(--text-color);
  border-top: 0;
}

.slot_btf_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slot_btf_wrapper:before {
  content: "Advert";
  text-transform: uppercase;
  font-size: 1.44em;
  letter-spacing: 0.6em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ensure the right stacking context order */
.slot_btf_wrapper:before {
  position: absolute;
}
.slot_btf {
  position: relative;
}

html.is-dev #ezoic-pub-ad-placeholder-105 + .ezoic-dev-demo {
  background-color: yellow;
  width: 728px;
  height: 90px;
}
