.slot_btf {
  display: block;
}

.slot_btf.ezoic-ad-slot {
  max-height: 100px;
  overflow: hidden;
}

.slot_btf_container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

html.is-dev:not(.user-donated) #ezoic-pub-ad-placeholder-105 + .ezoic-dev-demo,
html.is-dev:not(.user-donated) .slot_btf.adsbygoogle {
  background-color: yellow;
}
