/* layout */
@media (max-width: 727px) {
  :root {
    --ad-width: 320px;
    --ad-height: 50px;
  }
}
@media (min-width: 728px) {
  :root {
    --ad-width: 728px;
    --ad-height: 90px;
  }
}
:root {
  --ad-remover-height: 24px;
  --ad-border-width: 1px;
}

.adsbygoogle {
  min-height: 20px;
  /*
  max-height: calc(var(--ad-height) + var(--ad-border-width));
  */
  max-height: var(--ad-height);
  min-width: 20px;
  /*
  max-width: calc(var(--ad-width) + 2 * var(--ad-border-width));
  */
  max-width: var(--ad-width);
  width: 100%;
  height: 100vh;
  display: block;
  margin: auto;
  /* important; avoids creeping out of ads when the user downsizes his browser */
  overflow: hidden;
}

.adsbygoogle {
  /*
  width: 550px;
  height: 76px;
  background: red;
  */
}

/* ad remover layout */
.ad_remover {
  width: 106px;
  margin: auto;
  box-sizing: border-box;
  height: var(--ad-remover-height);
}

/* function */

html:not(.show_ad) .ad-view {
  display: none;
}

/* style */

:root {
  --ad-border-color: rgba(200, 200, 200, 0.7);
}

/* ad gray border */
.adsbygoogle {
  border: var(--ad-border-width) solid var(--ad-border-color);
  border-top-width: 0;
  box-sizing: border-box !important;
}

/* remove button */
.ad_remover {
  border-radius: 0 0 10px 10px;
  background-color: var(--ad-border-color);
  padding: 2px 10px;
}
.ad_remover {
  font-family: Lato, "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  display: block;
  text-align: center;
  text-decoration: none !important;
  color: #333;
  text-shadow: none;
  white-space: nowrap;
}
/* Override Timer Tab's style */
.ad_remover {
  cursor: pointer !important;
}
