@import "./screen-buttons.css";

#header-container {
  text-align: center;
}
#header-container > #header-content {
  display: inline-flex;
}

.footer-section-title {
  color: #5a5d61;
}

#footer_container {
  padding-top: 40px;
}

.more_panel_block {
  margin: auto;
  max-width: var(--max-content-width);
  padding-left: var(--content-side-padding);
  padding-right: var(--content-side-padding);
  padding-top: 34px;
}

#fv_left-side {
  width: 200px;
  flex-grow: 0;
  flex-shrink: 0;
}

#fv_right-side {
  flex-grow: 1;
  flex-shrink: 1;
}

#fv_full-view-layout {
  width: 100vw;
  display: flex;
  align-items: stretch;
}
