/* Layout */
.pretty_scroll_area__hide_scroll_element {
  position: relative;
}
.pretty_scroll_area__hide_scroll_element > #screen-buttons-wrapper {
  position: absolute;
}
#screen-buttons-wrapper {
  top: 10px;
}
#screen-buttons-wrapper {
  text-align: right;
}
#screen-buttons-wrapper > .screen-button {
  display: inline-block;
}
.screen-button {
  margin-top: 10px;
  padding: 11px 15px;
  white-space: nowrap;
}

/* Inner Layout */
.screen-button {
  line-height: 0;
}
.screen-button .button-icon {
  vertical-align: middle;
  position: relative;
}
.screen-button .button-text {
  position: relative;
  top: 1px;
}

/* Text */
#fullscreen-button .button-text::before {
  content: "\A0\A0 Fullscreen";
}
#settings-button .button-text::before {
  content: "\A0\A0 Settings";
}
#donate-button .button-text::before {
  content: "\A0\A0 Donate";
}
html.user-donated #donate-button .button-text::before {
  content: "\A0\A0 Thanks";
}
#center-button .button-text::before {
  content: "\A0\A Center";
}
#center-button.auto-scroll-is-active .button-text::before {
  content: "\A0\A Center";
}
@media (max-width: 849px) {
  .screen-button {
    padding: 11px;
  }
  .button-text::before {
    display: none;
  }
}

/* Icons */
.screen-button .button-icon {
  display: inline-block;
  height: 15px;
  width: 15px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#fullscreen-button .button-icon {
  background-image: url(./fullscreen.svg);
}
#settings-button .button-icon {
  background-image: url(./settings.svg);
  height: 17px;
  width: 19px;
}
#donate-button .button-icon {
  background-image: url(../../utils/icons/donate.svg);
  height: 18px;
  width: 18px;
}
html.user-donated #donate-button .button-icon {
  background-image: url(../../utils/icons/thanks.svg);
  height: 16px;
  width: 16px;
}
#center-button .button-icon {
  background-image: url(./center.svg);
}
#center-button.auto-scroll-is-active .button-icon {
  transform: rotateZ(360deg);
  background-image: url(./center__blinking.svg);
}

/* Aesthetics */
.screen-button {
  cursor: pointer;
  user-select: none;
  color: var(--panel-color);
}
.screen-button {
  position: relative;
}
.screen-button > .screen-button::before {
  position: absolute;
}
.screen-button::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: -1;
  box-shadow: var(--common-shadow);
}
.screen-button::before,
.screen-button > .button-background.glass-background,
.screen-button > .button-background.glass-background::after {
  border-radius: 8px;
}
.screen-button > .button-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Function */
#screen-buttons-wrapper {
  pointer-events: none;
}
.screen-button {
  pointer-events: all;
}
.screen-button {
  opacity: 100;
  visibility: visible;
  transition: opacity 0.7s ease-out;
}
.hide_scroll .screen-button {
  pointer-events: none;
  /* we set `visibility: hidden` in order to skip the animation computation of `center__blinking.svg` */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.7s, opacity 0.7s ease-in;
}
#screen-buttons-wrapper {
  --base-width: 16px;
  right: calc(var(--base-width) + var(--scroll-bar-width));
  transition: right 0.3s linear;
}
.hide_scroll #screen-buttons-wrapper {
  right: var(--base-width);
}
