@import "./hideApp.css";
@import "./more_panel.css";
@import "./glass_background.css";

html {
  opacity: 1;
  transition: opacity 0.5s linear;
}
body {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
}

* {
  box-sizing: border-box;
}
