:root {
  --panel_bg_1: rgba(255, 255, 255, 0.55);
  --panel_bg_2: rgba(0, 0, 0, 0.065);
  --panel-bg-blur: 5px;
  --panel-color: #373a4a;
}

#more_panel {
  position: relative;
  z-index: 1;
}
#more_panel > * {
  position: relative;
}
#more_panel > #more_panel_background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.glass-background {
  position: relative;
}
.glass-background:after {
  position: absolute;
}
.glass-background:after {
  pointer-events: none;
  background-color: var(--panel_bg_2);
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.glass-background {
  background-color: var(--panel_bg_1);
  backdrop-filter: blur(var(--panel-bg-blur));
}
.glass-background {
  color: var(--panel-color);
}

#more_panel {
  color: var(--panel-color);
}

.more_panel_block {
  padding-top: 24px;
}

.more_panel_block_title {
  font-size: 1.3em;
  text-decoration: underline;
  padding-bottom: 4px;
}
