.slot_btf {
  display: block;
}

.slot_btf_container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

html.is-dev:not(.user-donated) #ezoic-pub-ad-placeholder-105 + .ezoic-dev-demo {
  width: 728px;
  height: 90px;
  background-color: yellow;
}
html.is-dev:not(.user-donated) .slot_btf.adsbygoogle {
  background-color: yellow;
}
